
// scss-docs-start theme-color-variables
$primary:       #db528c !default;
$background:    #db528c !default;
$text-color-primary: #ffffff !default;

$gradient1-color-top: #4e941e !default;
$gradient1-color-bottom: #71de56 !default;
$color1: #dddddd !default;
$color2: #ededed !default;
$color3: #333333 !default;

$gradient2-color-top: #e6ffef !default;
$gradient2-color-bottom: #e6ffef !default;
